.active_admin_comment {
  padding: am-unit(2) am-unit(4)
}

.active_admin_comment_meta {
  background: #efefef;
  padding: am-unit(2)
}

.active_admin_comment_body {
  background: #ebebeb;
  padding: am-unit(2)
}
